<meta name="description"
    content="Mit dem Jork-O-Mat kannst du deine inhaltliche Übereinstimmung mit den Jorker Parteien für die Kommunalwahl feststellen." />

<!-- Twitter Card data -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:title" content="Jork-O-Mat - Wahlrechner für Jork" />
<meta name="twitter:description" content="Mit dem Jork-O-Mat kannst du deine inhaltliche Übereinstimmung mit den Jorker Parteien für die Kommunalwahl feststellen." />

<!-- Twitter Summary card images must be at least 120x120px -->
<meta name="twitter:image" content="https://jork-o-mat.de/static/custom/summary-image.png" />

<!-- Open Graph data -->
<meta property="og:title" content="Jork-O-Mat - Wahlrechner für Jork" />
<meta property="og:type" content="article" />
<meta property="og:url" content="https://jork-o-mat.de" />
<meta property="og:image" content="https://jork-o-mat.de/static/custom/summary-image.png" />
<meta property="og:description" content="Mit dem Jork-O-Mat kannst du deine inhaltliche Übereinstimmung mit den Jorker Parteien für die Kommunalwahl feststellen." />
<meta property="og:site_name" content="Jork-O-Mat" />

<link rel="stylesheet" href="/static/custom/styles.css" />

<script async defer src="https://scripts.simpleanalyticscdn.com/latest.js"></script>